<div id="headForm">
    <div>
        Titulo:
        <input [(ngModel)]="titulo" (keyup.enter)="create()">
    </div>

    <div>
        Descripción:
        <input class="descripcion" [(ngModel)]="descripcion" (keyup.enter)="create()">
    </div>

    <div>
        Prioridad: 
        <select [(ngModel)]="prioridad">
            <option value="1">Alta</option>
            <option value="2">Media</option>
            <option value="3">Baja</option>
        </select>    
    </div>
    
    <button (click)="create()">Crear</button>
</div>
